<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-fb-analytics" version="1.3.6"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>FBAnalytics</name>
  <description>Modern Facebook App Events analytics plugin for Cordova/Ionic</description>
  <license>MIT</license>

  <!-- JS MODULE -->
  <js-module src="www/fb-analytics.js" name="FBAnalytics">
    <clobbers target="FBAnalytics" />
  </js-module>

  <!-- ================== iOS ================== -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="FBAnalytics">
        <param name="ios-package" value="FBAnalytics" />
      </feature>
    </config-file>

    <source-file src="src/ios/FBAnalytics.h" />
    <source-file src="src/ios/FBAnalytics.m" />
    <source-file src="src/ios/AppDelegate+FBAnalytics.h" />
    <source-file src="src/ios/AppDelegate+FBAnalytics.m" />

    <!-- iOS Preferences -->
    <preference name="FacebookAppID" />
    <preference name="FacebookClientToken" />
    <preference name="FacebookDisplayName" />
    <preference name="FacebookURLScheme" />
    <preference name="FacebookPrivacyPolicyURL" />
    <preference name="FacebookAutoLogAppEventsEnabled" />
    <preference name="FacebookAdvertiserIDCollectionEnabled" />

    <!-- CocoaPods Dependencies -->
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git" />
      </config>
      <pods use-frameworks="true">
        <pod name="FBSDKCoreKit" spec="~> 13.0" />
        <pod name="FBSDKLoginKit" spec="~> 13.0" />
        <pod name="FBSDKShareKit" spec="~> 13.0" />
      </pods>
    </podspec>

    <!-- Info.plist placeholders -->
    <config-file target="*-Info.plist" parent="FacebookAppID">
      <string>FACEBOOK_APP_ID_PLACEHOLDER</string>
    </config-file>

    <config-file target="*-Info.plist" parent="FacebookClientToken">
      <string>FACEBOOK_CLIENT_TOKEN_PLACEHOLDER</string>
    </config-file>

    <config-file target="*-Info.plist" parent="FacebookDisplayName">
      <string>FACEBOOK_DISPLAY_NAME_PLACEHOLDER</string>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>FACEBOOK_URL_SCHEME_PLACEHOLDER</string>
          </array>
        </dict>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>fbapi</string>
        <string>fb-messenger-api</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="UIApplicationSceneManifest">
      <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
      </dict>
    </config-file>

    <!-- SKAdNetwork -->
    <config-file target="*-Info.plist" parent="SKAdNetworkItems">
      <array>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>cstr6suwn9.skadnetwork</string>
        </dict>
      </array>
    </config-file>

    <!-- AutoLog & AdvertiserID -->
    <config-file target="*-Info.plist" parent="FacebookAutoLogAppEventsEnabled">
      <true/>
    </config-file>

    <config-file target="*-Info.plist" parent="FacebookAdvertiserIDCollectionEnabled">
      <true/>
    </config-file>

    <config-file target="*-Info.plist" parent="NSPrivacyPolicyURL">
      <string>FACEBOOK_PRIVACY_POLICY_PLACEHOLDER</string>
    </config-file>

  </platform>

  <!-- ================== ANDROID ================== -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FBAnalytics">
        <param name="android-package" value="com.fb.analytics.FBAnalytics" />
      </feature>
    </config-file>

    <source-file src="src/android/FBAnalytics.java" target-dir="src/com/fb/analytics/" />

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    <!-- Android Preferences -->
    <preference name="FacebookAppID" />
    <preference name="FacebookClientToken" />
    <preference name="FacebookDisplayName" />
    <preference name="FacebookPrivacyPolicyURL" />
    <preference name="FacebookURLScheme" />

    <!-- Manifest -->
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="FACEBOOK_APP_ID_PLACEHOLDER" />
      <meta-data android:name="com.facebook.sdk.ClientToken" android:value="FACEBOOK_CLIENT_TOKEN_PLACEHOLDER" />
    </config-file>

  </platform>

</plugin>
